/*HEADER*/

body{
    background-color:white ;
}
nav{
    z-index: 100;
}
#header article{
    background-image: url(../imagenes/cuadro.jpg);
    background-repeat: no-repeat;
    height: 150px;
    background-size: cover;
}
@media(max-width:480px){
    .logo_inspirArte{
        width: 220px;
        height: 180px;}
}

/*FOOTER*/
#footer{
    height: 300px;
    width: 100%;
    background-color: #bbbaba;
    opacity: 0.8;
    padding: 50px;
}
.logo_pie{
    width: 80px;
    height: 100px;
    padding-left: 100px;


}
.titulo{
    text-decoration: underline;
}
#footer p{
    font-size: 1.1em;
    font-family: garamond;
    font-weight: bold;
    text-transform: capitalize;
    color: whitesmoke;
}

.mendoza a,
.cordoba a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1em;
    font-family: garamond;
}
.redes img {
    width: 50px;
    height: 50px;


}
.redes{
    margin-top: 35px;
    margin-left:-35px;
}

.redes li {
    list-style: none;
    display: inline-block;

}

#footer{
    display: grid;
    align-items: center;
    grid-template-columns: 33% 33% 33% ;
    gap:20px;
    grid-template-areas:
    "area1 area2 area3";
}

.logo_pie{
    grid-area:area1;
}
.mendoza{
    grid-area:area2;
}
.cordoba{
    grid-area:area3;
}
/*footer*/
@media(max-width:480px){
    #footer{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap:25px;
        width: 100%;
        height:650px;
    }
    .mendoza,
    .cordoba{
        text-align: center;
    }
    .logo_pie{
        width: 200px;
        height: 150px;
        padding-left: 0px;
        align-content: center;
    }
}

/*MAIN*/
/*-----------------------------index----------------------------------*/
main {
    padding: 10% 10% 10% 10%;
}

#datos{
    display: flex;
    justify-content: center;
}
.historia{
    display: flex;
    flex-direction: column;
}

/*imagen galeria*/

.historia{
    background-image:url(../imagenes/index/muro-hormigon-gris.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 75px;
}
.cuadro{
    width: 200px;
    height: 100px;
    background-color:#9a53fe;
    border-radius: 10px;
    margin: 25px;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    color: #f5f5f5; 
    box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);


}

/*Texto historia*/

.historia_texto {
    background-color:#f5f5f5;
    width: 90%;
    height: 120px;
    padding: 10px;
    margin-bottom:  50px;
    font-size:1.35em;
    text-align: center;
    font-family:times new roman ;
    color:#757575;
    font-style: italic;
    word-spacing: 2px;
    box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
.historia_texto span{
    font-weight: bold;
    font-size:1.25em;
}

#datos{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.datos_alumnos,
.datos_calendario,
.datos_materias,
.datos_profesores{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.datos_alumnos img,
.datos_calendario img,
.datos_materias img,
.datos_profesores img{
    width: 200px;
    height:200px;
    opacity: 50%;
}
#datos p {
    font-size:25px;
    font-family:calibri ;    
    text-decoration: none;
    color: gray;
}


/*-----------------------------usuario-------------------------------------*/

/*Titulo*/

.titulo_usuario{
    background-image: url(../Imagenes/usuario/usuario.jpg);
    background-size: cover;
    opacity: 0.6;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}
.titulo_usuario h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:#080808;
    font-size: 10em;
    letter-spacing:1px;
    text-align: center;
    text-decoration-style: cursive;
    padding-top: 100px;
}

/*Foto usuario*/
/*Formulario*/
.cabecera_cuadro {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.857em;
    color: #536dfe;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    background-color:rgb(198, 196, 196);
}
.formulario{
    font-size:1.25em;
    font-family:garamond;
    color: #757575;
    text-align: left;
    width: 700px ;
    height: 1050px;
    background-color:  #f5f5f5;
    margin: 0 auto;
    padding: 25px 25px 25px 25px;
    box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
    border-radius: 5px;
}
/*foto estudiante*/
.caja_foto{
    width: 220px;
    height: 170px;
    padding-bottom:35px;
}
.foto_usuario{
    height:150px ;
    width: 150px;
}
.genero{
    margin-bottom: 2px;
}

div {
    width: 400px;
    height: 200px;
    border-radius: 5%;
    background-color: #f5f5f5;
    text-align: center;
    margin-left: 75px;
}
/*boton enviar*/
.boton{
    display: flex;
    justify-content: center;
}
.boton_enviar_usuario{
    font-size: 1em;
    color: #f5f5f5;
    background-color:#b8b7b7;
    border: 1px solid whitesmoke;
    text-align: center;
    width: 122px;
    height: 35px;
}


/*foto qr*/
.qr{
    width: 300px ;
    height: 320px ;
    box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
.qr img { 
    width:180px ;
    height:240px ;
    padding-top: 35px;
    padding-bottom: 25px;

}
.qr p {
    font-size:0.875em ;
    font-family:garamond;
    text-align: center;

}
/*Informacion sobre el registro*/

.registrarse  {
    font-family: calibri;
    font-size: 1.125em;
    text-align: center;
    color:#757575;
    width:1000px ;
    height: 220px;
    background-color:#f5f5f5;
    border-radius:10px;
    box-shadow:inset 0 -3em 3em rgba(110, 110, 110, 0.2),
            0 0  0 2px rgb(245,245,245),
            0.3em 0.3em 1em rgba(110, 110, 110, 0.2);
    margin-top: 100px;
    padding-top: 30px;
}
.registrarse h3{
    font-size: 1.5625em;
    color:#536dfe;
    font-family:'Courier New', Courier, monospace;

}

.usuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/*usuario*/

@media(max-width:480px){
    .titulo_usuario{
        font-size: 0.52em;
        width: 400px;
        height: 200px;
        background-size: cover;
        margin-top: 75px;
        margin-bottom: 50px;
        padding-top:-50px;
    }
    .usuario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0%;
        gap:15px;
    }
    .cabecera_cuadro{
        height: 100px;
    }
    .formulario{
        width: 100%;
        height: 1100px;
        margin: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .foto_usuario img{
        width: 120px;
        height: 120px;
    }
    .qr{
        height: 250px;
        align-items: center;
        justify-content: center;
        margin-left: 30px; 
    }
    .qr img {
        width: 150px;
        height: 180px;
    }
    .registrarse{
        padding-top: 10px;
        width: 100%;
        height: 300px;
        justify-content: center;
    }
}
/*----------------------carreras--------------------------------------------*/
/*Titulo*/
.cuerpo_carreras{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo_carrera{
    background-image: url(../Imagenes/actividades/carrera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color:#080808;
    font-size: 10em;
    letter-spacing:1px;
    text-align: center;
    padding-top: 100px;
    text-transform: uppercase;
    opacity: 0.6;
}

#carreras{
    display: grid;
    grid-template-columns: 300px 300px 400px 400px;
    grid-template-rows: 250px 250px;
    margin-top:180px;
    text-align: center;
    gap:15px;
    grid-template-areas: 
    "img1 img2 img3 img4"
    "img1 img2 img5 img5";
}
#carreras{
    justify-content: center;
}

.img1 {
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img1 {
    background-image: url(../Imagenes/actividades/pintura.jpg);
    background-size: cover;
    border-radius: 5%; 
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}

.img1:hover {
    transform: scale(1.3); 
}

.img2{
    background-image:url(../Imagenes/actividades/ceramica.jpg);
    background-size: cover;
    border-radius: 5%;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}
.img2:hover {
    transform: scale(1.3); 
}
.img3{
    background-image: url(../Imagenes/actividades/artesania.jpg);
    background-size: cover;
    border-radius: 5%;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}
.img3:hover {
    transform: scale(1.3); 
}
.img4{
    background-image: url(../Imagenes/actividades/escultura.jpg);
    background-size: cover;
    border-radius: 5%;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}
.img4:hover {
    transform: scale(1.3); 
}
.img5{
    background-image: url(../Imagenes/actividades/dibujo.jpg);
    background-size: cover;
    border-radius: 5%;
    box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
}
.img5:hover {
    transform: scale(1.3); 
}
#carreras{
    font-size: 3.75em;
    font-family: 'Oswald', sans-serif;
    color: black;
}
/*carreras*/
@media(max-width:480px){

    .titulo_carrera{
        width: 100%;
        height: 150px;
        font-size: 50px;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    .titulo_carrera{
        text-align: center;
        padding:50px;
    }
    #carreras{
        display: flex;
        flex-direction: column;
        margin: auto;
        gap:20px;
    }
    .img1, 
    .img2,
    .img3,
    .img4,
    .img5{
        width: 350px;
        height: 150px;
    }
}

/*-------------------------------+inf--------------------------------*/
/*Titulo*/
.titulo_inf{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 15px;
    margin-bottom: 50px;
}
.titulo_inf h1 {
    font-size:7em;
    color:#616161;
    font-family: 'Tinos', serif;
    text-transform: uppercase;
}
.titulo_inf img {
    width: 120px;
    height: 120px;
    opacity: 0.6;
}
/*Texto*/
.informacion{
    display: flex;
    flex-direction: column;
    color:#757575 ;
}


.preinscripcion {
    width: 95%;
    height: 350px;
    padding: 25px;
    background-color: #f5f5f5;
    border-left-style:solid;
    border-width: 15px;
    border-left-color: #9a53fe;
    box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);

}
.turnos{
    width: 95%;
    height: 200px;
    padding: 25px;
    background-color: #f5f5f5 ;
    border-left-style:solid;
    border-width: 15px;
    border-left-color: #9a53fe;
    box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
.horarios{
    width: 95%;
    height: 200px;
    padding: 25px;
    background-color:#f5f5f5 ;
    border-left-style:solid;
    border-width: 15px;
    border-left-color: #9a53fe;
    box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
.egresado{
    width: 95%;
    height: 250px;
    padding: 25px;
    background-color:#f5f5f5 ;
    border-left-style:solid;
    border-width: 15px;
    border-left-color: #9a53fe;
    box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
/*+inf*/
@media(max-width:480px){
    .titulo_inf{
        margin-top: 75px;
        margin-bottom: 50px;
    }
    .informacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:20px;
        width: 100%;
    }
    .preinscripcion{
        height: 500px;
    }
    .egresado{
        height: 400px;
    }
}
/*------------------------------medios de pago-----------------------------*/
/*Titulo*/
.pagos{
    display: flex;
    flex-direction: column;
}
.titulos_mediosdepago {
    background-image: url(../Imagenes/mediosdepago/titulomedios.jpeg);
    width: 100%;
    height: 400px;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color:#080808;
    font-size: 10em;
    letter-spacing:1px;
    opacity: 0.6;
    z-index: 100;
    text-align: center;
    text-decoration: double;
    text-transform:uppercase ;
}
/*info-pagos*/
.pagos_inf{
    width: 100%;
    height: 500px;
    padding: 25px 25px 25px 25px;
    background-color:#f5f5f5 ;
    border-radius: 2%;
    /*box-shadow: 6px 6px rgb(187, 187, 188), 13px 13px rgb(169, 169, 169), 17px 17px rgb(152, 152, 152);*/
    box-shadow: 6px 6px rgb(227, 227, 227), 13px 13px rgb(210,210 ,210 ), 17px 17px rgb(190, 190,190 );
}

.pagos_inf{
    font-size:1.25em;
    font-family:garamond;
    text-align:center;
}

.medios_pago{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}
.pagofacil,
.rapipago,
.banco  {
    padding-left: 80px;
    padding-right: 80px;
}

/*contenedor pagos*/
.contenedor_pagos{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 250px;
    gap:100px;
    grid-template-areas: 
    "comprobante descarga";
}
.comprobante{
    grid-area: comprobante;
}
.descarga_chequera{
    grid-area: descarga;
}
/*Subir comprobante*/
.comprobante {
    width: 550px;
    height: 200px;
    background-color: #f5f5f5;
    border-top: 15px solid #9a53fe;
    font-family: 'Tinos', serif;
    font-size: 1.5625em;
    text-align: center;
    padding-top: 25px;
    box-shadow: inset 1px 1px 5px 0 rgba(20, 20, 20, 0.2);
}
.subir_comprobante{
    font-size: 15px;
}
/*Chequera*/
.descarga_chequera {
    width: 550px;
    height: 200px;
    background-color: #f5f5f5;
    font-family: 'Tinos', serif;
    font-size: 1.5625em;
    text-align: center;
    padding-top: 25px;
    border-top: 15px solid #9a53fe;
    box-shadow: inset 1px 1px 5px 0 rgba(20, 20, 20, 0.2);
}
.descarga_chequera a {
    color: black;
    font-size: 15px;
}
/*consulta sobre pagos*/
.consulta {
    justify-content: center;    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    background-color: #f5f5f5;
    border-top: 15px solid #9a53fe;
    padding-top: 35px;
    align-items: center;
    margin-top: 100px;
    box-shadow: inset 1px 1px 5px 0 rgba(20, 20, 20, 0.2);
}
.consulta h4 {
    text-align: center;
    font-family: 'Tinos', serif;
    padding-top: 70px;
    font-size: 25px;
}
/*boton enviar*/
.boton_enviar{
    display: flex;
    justify-content: center;
}
.boton_enviar{
    font-size: 1em;
    color: #f5f5f5;
    text-decoration:double;
    background-color:#b8b7b7 ;
    border: 1px solid whitesmoke;
    text-align: center;
    width: 150px;
    height: 50px;
    margin:25px 25px 25px 25px ;
}
textarea{
    width: 95%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1em;
    resize: none;
    align-items: center;
}
/*medios de pago*/




@media(max-width:480px){
    .pagos_inf{
        height: 350px;
        display: flex;
        flex-direction: column;
        gap:25px;

    }
    .medios_pago{
        margin: 0%;
        width: 300px;
    }
    .medios_pago img {
        width: 100px;
        height: 100px;
        padding: 0%;
    }
    .contenedor_pagos{
        height: 380px;
        display: flex;
        flex-direction: column;
        gap:25px;
        margin-top: 25px;
    }
    
    .comprobante{
        width: 350px;
        height: 150px;
    }
    .descarga_chequera{
        width: 350px;
        height: 150px;
    }
    .consulta{
        width: 380px;
        height: 400px;
        margin: 0%;
    }
}
