@charset "UTF-8";
/*-----------------------------INDEX----------------------------------------*/
.index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 10% 10% 10% 10%;
}

/*------------------------------------HISTORIA-----------------------------*/
.historia {
  background-image: url(../imagenes/index/muro-hormigon-gris.jpg);
  background-size: cover;
  height: 430px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.historia .cuadro {
  width: 200px;
  height: 100px;
  background-color: #9a53fe;
  border-radius: 10px;
  margin: 25px;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: #f5f5f5;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
.historia .cuadro:hover {
  transform: scale(1.1);
}
.historia .historia_texto {
  background-color: #f5f5f5;
  overflow: hidden;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
  padding: 30px;
  font-size: 25px;
  text-align: center;
  font-family: times new roman;
  color: gray;
  font-style: italic;
  word-spacing: 2px;
}
.historia .historia_texto_span {
  font-weight: bold;
  font-size: 1.25em;
}

.datos {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-top: 150px;
}
.datos .datos_alumnos,
.datos .datos_calendario,
.datos .datos_materias,
.datos .datos_profesores {
  width: 350px;
  height: 350px;
  border: 8px solid #9a53fe;
  box-shadow: 4px 3px 3px 4px #d1d0d0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.datos .datos_alumnos img,
.datos .datos_calendario img,
.datos .datos_materias img,
.datos .datos_profesores img {
  width: 180px;
  height: 180px;
  opacity: 50%;
}
.datos .datos_alumnos img:hover,
.datos .datos_calendario img:hover,
.datos .datos_materias img:hover,
.datos .datos_profesores img:hover {
  transform: translate(0px, -20px);
}
.datos p {
  font-size: 25px;
  font-family: calibri;
  text-decoration: none;
  color: gray;
  opacity: 0.6;
}

@media (max-width: 1600px) {
  .datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .index {
    gap: 100px;
  }
  .index .historia {
    height: 800px;
  }
  .index .historia .historia_texto {
    width: 600px;
    height: 300px;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .historia {
    width: 95%;
    height: 1250px;
  }
  .datos {
    margin-top: 300px;
  }
}
/*--------------------------- USUARIOS---------------------------------------*/
/*----------------------------TITULO PAGINA USUARIO----------------------------------*/
.titulo_usuario {
  background-image: url(../imagenes/usuario/usuario.jpg);
  background-size: cover;
  opacity: 0.6;
  width: 95%;
  height: 400px;
  margin-top: 80px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo_usuario h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #080808;
  font-size: 9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: double;
  padding: 25px;
}
@media (max-width: 720px) {
  .titulo_usuario {
    width: 100%;
    margin: 0%;
  }
  .titulo_usuario h1 {
    font-size: 6.8em;
  }
}

/*-------------------------------MAIN----------------------------------------------*/
.usuario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.usuario .formulario {
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  text-align: left;
  width: 700px;
  height: 1100px;
  background-color: #f5f5f5;
  margin-top: 50px;
  padding: 25px 25px 25px 25px;
  box-shadow: 6px 6px rgb(227, 227, 227), 13px 13px rgb(210, 210, 210), 17px 17px rgb(190, 190, 190);
  border-radius: 5px;
}
.usuario .cabecera_cuadro {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.857em;
  color: #0e0d0d;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  height: 100x;
  background-color: #9a53fe;
}
.usuario .caja_foto {
  width: 220px;
  height: 170px;
  padding-bottom: 35px;
}
.usuario .caja_foto .foto_usuario {
  height: 150px;
  width: 150px;
}
.usuario .genero {
  margin-bottom: 2px;
}
.usuario .boton {
  display: flex;
  justify-content: center;
}
.usuario .boton .boton_enviar_usuario {
  font-size: 1em;
  color: #f5f5f5;
  background-color: #b8b7b7;
  border: 1px solid whitesmoke;
  text-align: center;
  width: 122px;
  height: 35px;
}
.usuario .boton .boton_enviar_usuario:hover {
  transform: scale(1.1);
}

.qr {
  width: 300px;
  height: 320px;
  background-color: #f5f5f5;
  border-radius: 5%;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.qr .qr_img {
  width: 180px;
  height: 180px;
  padding-bottom: 20px;
}
.qr p {
  margin-top: 15px;
  font-size: 0.875em;
  font-family: garamond;
  text-align: center;
}

.registrarse {
  font-family: calibri;
  font-size: 1.125em;
  text-align: center;
  color: #757575;
  width: 1000px;
  height: 220px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
  margin-top: 100px;
  margin-bottom: 70px;
}
.registrarse h3 {
  font-size: 1.5625em;
  color: #9a53fe;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/*---------------------USAURIO RESPONSIVE-------------------------------------*/
@media (max-width: 720px) {
  .titulo_usuario {
    width: 100%;
    height: 200px;
    margin: 0%;
    margin-top: 100px;
  }
  .usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
  }
  .usuario .formulario {
    width: 80%;
  }
  .usuario .qr {
    margin: 0%;
    margin-top: 100px;
  }
  .usuario .qr img {
    width: 150px;
    height: 150px;
  }
  .usuario .registrarse {
    width: 70%;
    height: 220px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .titulo_usuario {
    margin-top: 100px;
    font-size: 14px;
    width: 100%;
    height: 200px;
    margin-left: 10px;
    padding: auto;
    display: flex;
    justify-content: center;
  }
  .usuario {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0%;
    gap: 15px;
  }
  .usuario .formulario {
    width: 80%;
    height: 1150px;
    margin: 0%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .usuario .formulario .cabecera_cuadro {
    height: 100px;
  }
  .usuario .formulario .foto_usuario img {
    width: 120px;
    height: 120px;
  }
  .usuario .qr {
    height: 250px;
    width: 60%;
  }
  .usuario .qr img {
    width: 120px;
    height: 120px;
  }
  .usuario .registrarse {
    width: 70%;
    height: 300px;
  }
}
/*---------------------------CARRERAS----------------------------------------*/
.titulo_carrera {
  background-image: url(../imagenes/actividades/carrera.jpg);
  background-size: cover;
  opacity: 0.6;
  width: 95%;
  height: 400px;
  margin-top: 80px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo_carrera h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #080808;
  font-size: 9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: double;
  padding: 25px;
}

#carreras {
  display: grid;
  grid-template-columns: 300px 300px 400px 400px;
  grid-template-rows: 250px 250px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  justify-content: center;
  gap: 15px;
  grid-template-areas: "img1 img2 img3 img4" "img1 img2 img5 img5";
}
#carreras .img1 {
  grid-area: img1;
  background-image: url(../imagenes/actividades/pintura.jpg);
  background-size: cover;
  border-radius: 5%;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
#carreras .img1:hover {
  transform: scale(1.3);
}
#carreras .img2 {
  grid-area: img2;
  background-image: url(../imagenes/actividades/ceramica.jpg);
  background-size: cover;
  border-radius: 5%;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
#carreras .img2:hover {
  transform: scale(1.3);
}
#carreras .img3 {
  grid-area: img3;
  background-image: url(../imagenes/actividades/artesania.jpg);
  background-size: cover;
  border-radius: 5%;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
#carreras .img3:hover {
  transform: scale(1.3);
}
#carreras .img4 {
  grid-area: img4;
  background-image: url(../imagenes/actividades/escultura.jpg);
  background-size: cover;
  border-radius: 5%;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
#carreras .img4:hover {
  transform: scale(1.3);
}
#carreras .img5 {
  grid-area: img5;
  background-image: url(../imagenes/actividades/dibujo.jpg);
  background-size: cover;
  border-radius: 5%;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
#carreras .img5:hover {
  transform: scale(1.3);
}
#carreras p {
  font-size: 3.75em;
  font-family: "Oswald", sans-serif;
  color: black;
}

/*----------------------------------------------------------DISEÑO RESPONSIVE-------------------------------------------------------*/
/*carreras*/
@media (max-width: 720px) {
  .titulo_carrera {
    width: 100%;
    height: 200px;
    margin: 0%;
    margin-top: 100px;
    display: flex;
  }
  .titulo_carrera h1 {
    font-size: 7em;
    text-align: center;
  }
  #carreras {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 250px 250px 250px 250px 250px;
    margin-top: 100px;
    text-align: center;
    gap: 15px;
    grid-template-areas: "img1 img2" "img1 img2 " "img3 img4" "img3 img4" "img5 img5";
  }
  #carreras img {
    background-size: cover;
  }
}
@media (max-width: 480px) {
  .titulo_carrera {
    margin-left: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  #carreras {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 30px;
    margin: 50px;
  }
  #carreras .img1,
  #carreras .img2,
  #carreras .img3,
  #carreras .img4,
  #carreras .img5 {
    width: 350px;
    height: 150px;
    background-size: cover;
  }
}
/*----------------------------+INF-------------------------------------------*/
.titulo_inf {
  background-image: url(../imagenes/documentos-organizacion-adultos-jovenes.jpg);
  background-size: cover;
  opacity: 0.6;
  width: 95%;
  height: 400px;
  margin-top: 80px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.titulo_inf h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #080808;
  font-size: 9em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
.titulo_inf img {
  width: 180px;
  height: 180px;
  opacity: 0.6;
}

.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  color: #757575;
  margin-top: 100px;
  margin-bottom: 100px;
}
.informacion .preinscripcion p,
.informacion .horarios p,
.informacion .egresado p,
.informacion .turnos p {
  padding-left: 25px;
  font-family: calibri;
  font-size: 18px;
}
.informacion .preinscripcion details,
.informacion .horarios details,
.informacion .egresado details,
.informacion .turnos details {
  width: 90%;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-left-style: solid;
  border-width: 15px;
  border-left-color: #9a53fe;
  margin-bottom: 0.5rem;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
  border-radius: 5px;
  overflow: hidden;
  font-family: calibri;
  padding: 15px;
}
.informacion .preinscripcion summary,
.informacion .horarios summary,
.informacion .egresado summary,
.informacion .turnos summary {
  padding: 1rem;
  font-size: 18px;
  display: block;
  background: #f5f5f5;
  position: relative;
  cursor: pointer;
}
.informacion .preinscripcion summary:before,
.informacion .horarios summary:before,
.informacion .egresado summary:before,
.informacion .turnos summary:before {
  content: "";
  border-width: 0.4rem;
  font-family: calibri;
  border-style: solid;
  border-color: transparent transparent transparent;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}
.informacion .preinscripcion details[open] > summary:before,
.informacion .horarios details[open] > summary:before,
.informacion .egresado details[open] > summary:before,
.informacion .turnos details[open] > summary:before {
  transform: rotate(90deg);
}
.informacion .preinscripcion details summary::-webkit-details-marker,
.informacion .horarios details summary::-webkit-details-marker,
.informacion .egresado details summary::-webkit-details-marker,
.informacion .turnos details summary::-webkit-details-marker {
  display: none;
}
.informacion .preinscripcion details > ul,
.informacion .horarios details > ul,
.informacion .egresado details > ul,
.informacion .turnos details > ul {
  padding-bottom: 2rem;
  margin-bottom: 0;
}

/*+inf*/
@media (max-width: 720px) {
  .titulo_inf {
    width: 100%;
    height: 200px;
    margin: 0%;
    margin-top: 100px;
  }
  .titulo_inf h1 {
    font-size: 7em;
  }
  .titulo_inf img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 480px) {
  .titulo_inf {
    width: 95%;
    margin-left: 10px;
  }
}
/*-------------------------MEDIOS DE PAGO------------------------------------*/
.titulos_mediosdepago {
  background-image: url(../imagenes/mediosdepago/titulomedios.jpeg);
  background-size: cover;
  opacity: 0.6;
  width: 95%;
  height: 400px;
  margin-top: 80px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulos_mediosdepago h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #080808;
  font-size: 9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: double;
  padding: 25px;
}

/*consulta sobre pagos*/
.pagos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pagos .pagos_inf {
  font-size: 1.25em;
  font-family: garamond;
  text-align: center;
  width: 80%;
  height: 400px;
  margin-top: 100px;
  padding: 70px 25px 25px 25px;
  background-color: #f5f5f5;
  border-radius: 2%;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
.pagos .pagos_inf .medios_pago {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.pagos .pagos_inf .medios_pago .pagofacil,
.pagos .pagos_inf .medios_pago .rapipago,
.pagos .pagos_inf .medios_pago .banco {
  width: 100px;
  height: 100px;
}
.pagos .contenedor_pagos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}
.pagos .contenedor_pagos .comprobante {
  width: 450px;
  height: 200px;
  background-color: #f5f5f5;
  border-top: 15px solid #9a53fe;
  font-family: "Tinos", serif;
  font-size: 1.5625em;
  text-align: center;
  padding-top: 25px;
  box-shadow: 6px 6px rgb(227, 227, 227), 13px 13px rgb(210, 210, 210), 17px 17px rgb(190, 190, 190);
}
.pagos .contenedor_pagos .comprobante .subir_comprobante {
  font-size: 15px;
}
.pagos .contenedor_pagos .descarga_chequera {
  width: 450px;
  height: 200px;
  background-color: #f5f5f5;
  font-family: "Tinos", serif;
  font-size: 1.5625em;
  text-align: center;
  padding-top: 25px;
  border-top: 15px solid #9a53fe;
  box-shadow: 6px 6px rgb(227, 227, 227), 13px 13px rgb(210, 210, 210), 17px 17px rgb(190, 190, 190);
}
.pagos .contenedor_pagos .descarga_chequera a {
  color: black;
  font-size: 15px;
}
.pagos .consulta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 400px;
  background-color: #f5f5f5;
  border-top: 15px solid #9a53fe;
  padding-top: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
}
.pagos .consulta h4 {
  text-align: center;
  font-family: "Tinos", serif;
  padding-top: 50px;
  font-size: 25px;
}
.pagos .consulta .consulta_espacio {
  width: 95%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 1em;
  resize: none;
  margin-left: 30px;
  align-items: center;
}
.pagos .consulta .boton_enviar {
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: #f5f5f5;
  text-decoration: double;
  background-color: #b8b7b7;
  border: 1px solid whitesmoke;
  text-align: center;
  width: 150px;
  height: 50px;
  margin: 0px 25px 25px 25px;
}
.pagos .consulta .boton_enviar:hover {
  transform: scale(1.1);
}

/*----------------------------------------------------DISEÑO RESPONSIVE-------------------------*/
@media (max-width: 780px) {
  .titulos_mediosdepago {
    width: 100%;
    height: 250px;
    margin: 0%;
    margin-top: 100px;
  }
  .titulos_mediosdepago h1 {
    font-size: 5.6em;
    text-align: center;
  }
  .pagos .pagos_inf {
    padding: 10px;
  }
  .pagos .consulta {
    margin-top: 100px;
  }
  .pagos .consulta h4 {
    margin-top: 20px;
  }
  .pagos .consulta .consulta_espacio {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .consulta {
    width: 90%;
    height: 500px;
    margin-top: 50px;
    padding-top: 20px;
  }
  .consulta h4 {
    font-size: 20px;
  }
  .consulta textarea {
    height: 80px;
    font-size: 0.9em;
  }
  .consulta .boton_enviar {
    width: 100%;
    margin-bottom: 10px;
  }
}
/*--------------------------FOOTER-------------------------------------------*/
#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #bbbaba;
  height: 200px;
}
#footer .columna_sede_mendoza {
  margin-top: 22px;
}
#footer .columna_sede_mendoza .titulo_sede {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 1.2em;
  font-family: garamond;
  font-weight: bold;
  color: whitesmoke;
}
#footer .columna_sede_mendoza a {
  text-decoration: none;
  color: whitesmoke;
  font-family: garamond;
  font-size: 1em;
}
#footer .columna_sede_mendoza p {
  font-size: 14px;
  line-height: 1.6;
  color: whitesmoke;
  font-size: 1em;
}
#footer .columna_sede_cordoba .titulo_sede {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 1.2em;
  font-family: garamond;
  font-weight: bold;
  color: whitesmoke;
}
#footer .columna_sede_cordoba a {
  text-decoration: none;
  color: whitesmoke;
  font-family: garamond;
  font-size: 1em;
}
#footer .columna_sede_cordoba p {
  font-size: 14px;
  line-height: 1.6;
  color: whitesmoke;
  font-size: 1em;
}
#footer .columna_redes img {
  width: 50px;
  height: 50px;
}
#footer .columna_redes li {
  list-style: none;
  display: inline-block;
}

@media (max-width: 820px) {
  #footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 100%;
    height: 400px;
  }
  #footer .columna_sede_cordoba {
    margin-top: -40px;
  }
}
/*HEADER*/
#header {
  z-index: 100;
}
#header .header_cuadro {
  background-image: url(../imagenes/cuadro.jpg);
  background-repeat: no-repeat;
  height: 150px;
  background-size: cover;
}

@media (max-width: 480px) {
  .logo_inspirArte {
    width: 220px;
    height: 180px;
  }
}

/*# sourceMappingURL=style.css.map */
