@import "variables";

.titulo_carrera {
    background-image: url(../imagenes/actividades/carrera.jpg);
    background-size: cover;
    opacity: 0.6;
    width: 95%;
    height: 400px;
    margin-top: 80px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: $titulos;
        color: $color_titulo;
        font-size: $font-size-titulo;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: double;
        padding: 25px;
    }
}

#carreras {
    display: grid;
    grid-template-columns: 300px 300px 400px 400px;
    grid-template-rows: 250px 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
    gap: 15px;
    grid-template-areas:
        "img1 img2 img3 img4"
        "img1 img2 img5 img5";

    .img1 {
        &:hover {
            transform: scale(1.3);
        }

        grid-area: img1;
        background-image: url(../imagenes/actividades/pintura.jpg);
        background-size: cover;
        border-radius: 5%;
        box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
    }

    .img2 {
        &:hover {
            transform: scale(1.3);
        }

        grid-area: img2;
        background-image: url(../imagenes/actividades/ceramica.jpg);
        background-size: cover;
        border-radius: 5%;
        box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);


    }

    .img3 {
        &:hover {
            transform: scale(1.3);
        }

        grid-area: img3;
        background-image: url(../imagenes/actividades/artesania.jpg);
        background-size: cover;
        border-radius: 5%;
        box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
    }

    .img4 {
        &:hover {
            transform: scale(1.3);
        }

        grid-area: img4;
        background-image: url(../imagenes/actividades/escultura.jpg);
        background-size: cover;
        border-radius: 5%;
        box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
    }

    .img5 {
        &:hover {
            transform: scale(1.3);
        }

        grid-area: img5;
        background-image: url(../imagenes/actividades/dibujo.jpg);
        background-size: cover;
        border-radius: 5%;
        box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
    }

    p {
        font-size: 3.75em;
        font-family: "Oswald", sans-serif;
        color: black;
    }

}


/*----------------------------------------------------------DISEÑO RESPONSIVE-------------------------------------------------------*/

/*carreras*/
@media(max-width:720px) {
    .titulo_carrera {
        width: 100%;
        height: 200px;
        margin: 0%;
        margin-top: 100px;
        display: flex;

        h1 {
            font-size: 7em;
            text-align: center;
        }
    }

    #carreras {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 250px 250px 250px 250px 250px;
        margin-top: 100px;
        text-align: center;
        gap: 15px;
        grid-template-areas:
            "img1 img2"
            "img1 img2 "
            "img3 img4"
            "img3 img4"
            "img5 img5";

        img {
            background-size: cover;
        }


    }
}

@media(max-width:480px) {


    .titulo_carrera {
        margin-left: 10px;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        font-size: 12px;
    }

    #carreras {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 30px;
        margin: 50px;

        .img1,
        .img2,
        .img3,
        .img4,
        .img5 {
            width: 350px;
            height: 150px;
            background-size: cover;
        }
    }

}