@import "variables";

.index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 10% 10% 10% 10%;
}

/*------------------------------------HISTORIA-----------------------------*/
.historia {
    background-image: url(../imagenes/index/muro-hormigon-gris.jpg);
    background-size: cover;
    height: 430px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    .cuadro {
        width: 200px;
        height: 100px;
        background-color: $color-alternatio;
        border-radius: 10px;
        margin: 25px;
        text-align: center;
        padding-top: 30px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        color: #f5f5f5;
        box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);

        &:hover {
            transform: scale(1.1);
        }
    }

    .historia_texto {
        background-color: $color-fondo-cajas;
        overflow: hidden;
        box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
        padding: 30px;
        font-size: 25px;
        text-align: center;
        font-family: times new roman;
        color: $color-letra;
        font-style: italic;
        word-spacing: 2px;

    }

    .historia_texto_span {
        font-weight: bold;
        font-size: 1.25em;
    }

}


.datos {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-top: 150px;

    .datos_alumnos,
    .datos_calendario,
    .datos_materias,
    .datos_profesores {
        width: 350px;
        height: 350px;
        border: 8px solid $color-alternatio;
        box-shadow: 4px 3px 3px 4px #d1d0d0;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img {
            width: 180px;
            height: 180px;
            opacity: 50%;

            &:hover {
                transform: translate(0px, -20px);
            }
        }
    }

    p {
        font-size: 25px;
        font-family: $font-letra-texto;
        text-decoration: none;
        color: $color-letra;
        opacity: 0.6;
    }

}


@media(max-width:1600px) {
    .datos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:720px) {
    .index {
        gap: 100px;

        .historia {
            height: 800px;

            .historia_texto {
                width: 600px;
                height: 300px;
                font-size: 18px;
            }
        }
    }
}

@media(max-width:480px) {
    .historia {
        width: 95%;
        height: 1250px;
    }

    .datos {
        margin-top: 300px
    }
}