.titulo_inf {
    background-image: url(../imagenes/documentos-organizacion-adultos-jovenes.jpg);
    background-size: cover;
    opacity: 0.6;
    width: 95%;
    height: 400px;
    margin-top: 80px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    h1 {
        font-size: 10em;
        color: #0e0d0d;
        font-family: 'Tinos', serif;
        text-transform: uppercase;
    }

    img {
        width: 180px;
        height: 180px;
        opacity: 0.6;
    }

}

.informacion {
    display: flex;
    flex-direction: column;
    color: #757575;
    margin-top: 100px;
    margin-bottom: 100px;

    .preinscripcion,
    .horarios,
    .egresado,
    .turnos {
        p {
            padding-left: 25px;
        }

        details {
            width: 80%;
            margin: 0 auto;
            background-color: #f5f5f5;
            border-left-style: solid;
            border-width: 15px;
            border-left-color: #9a53fe;
            margin-bottom: .5rem;
            box-shadow: inset 1px 1px 4px 0 rgba(20, 20, 20, 0.2);
            border-radius: 5px;
            overflow: hidden;
        }

        summary {
            padding: 1rem;
            display: block;
            background: #f5f5f5;
            padding-left: 2.2rem;
            position: relative;
            cursor: pointer;
        }

        summary:before {
            content: '';
            border-width: .4rem;
            border-style: solid;
            border-color: transparent transparent transparent grey;
            position: absolute;
            top: 1.3rem;
            left: 1rem;
            transform: rotate(0);
            transform-origin: .2rem 50%;
            transition: .25s transform ease;
        }

        details[open]>summary:before {

            transform: rotate(90deg);

        }

        details summary::-webkit-details-marker {
            display: none;
        }

        details>ul {
            padding-bottom: 2rem;
            margin-bottom: 0;
        }



    }


}



/*+inf*/
@media(max-width:720px) {

    .titulo_inf {
        width: 95%;
        margin-left: 25px;
    }

    .titulo_inf h1 {
        font-size: 7em;
    }

}

@media(max-width:480px) {
    .titulo_inf {
        width: 95%;
        margin-left: 10px;
    }

    .informacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    .preinscripcion {
        height: 500px;
    }

    .egresado {
        height: 400px;
    }
}